<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to tours&travels, <%= @booking.book_name %></h1>
    <p>
      Please login to check bill.<br>
    </p>
  </body>
</html>