<div class="center jumbotron">
<h2><center><%= image_tag "aboutus.jpg" , height: '150px', width: '650px' %></center></h2>
<center>
<h1 style="color: #000000; font-size: xx-large; font-style: italic; font-family: 'Script MT Bold';">Welcome to Gujarat Tourism</h1><br /></center>
<p style="color: #9900CC; ">" Sanghavi tours & travels " is one of the leading Tour Operator , specialized in organizing tours throughout the Gujarat subcontinent and has a large and efficient network.</p>
<p style="color: #9900CC; ">As a specialized Tour Operator for Gujarat, we are now the leading specialists in tailor-made holidays to every cities of Gujarat, including Ahmedabad, Bhavnagar, Bhuj, Daman, Diu, Dwaraka, Gandhinagar, Gondal, Jamnagar, Junagadh, Mandvi, Modhera, Palitana, Patan, Porbandar, Rajkot, Somnath, Surat and Vadodara.</p>
<p style="color: #9900CC; ">We have our main head office in the Limbdi.We understand your needs when it comes to a tailor made tour. </p>
<p style="color: #9900CC; ">We also have a network of associate offices all over Gujarat in Ahmedabad, Bhavnagar, Bhuj, Daman, Diu, Dwaraka, Gandhinagar, Gondal, Jamnagar, Junagadh, Mandvi, Modhera, Palitana, Patan, Porbandar, Rajkot, Somnath, Surat and Vadodara. </p>
<p style="color: #9900CC; ">In our company we have a team of experienced people who handle every query and reply within 24 hours.</p>
<p style="color: #9900CC; ">Each and every member has a very long experience in tours and travel trade and have a sound knowledge of whole of Gujarat.</p>
<p style="color: #9900CC; ">In our office, we have modern and well computerized reservation systems and so we remain always online during the office hours which enable us to make and forward your bookings promptly.</p>
<p style="color: #9900CC; ">Our growth is based on the mouth publicity by our guests who have experienced our quality services. </p>
<p style="color: #9900CC; ">Whatever your chosen itinerary and formula, you can be assured that we will look after you from the beginning to the end of your tour to ensure that you have an unforgettable travel experience.We guarantee you not only the efficient services but also the best value for your money while traveling with us. </p>
<p style="color: #9900CC; ">Our website "Sanghavi Tours & Travels" is your best place to enjoy the exotic trip of a lifetime. This is one of the most informative website on Gujarat.</p>
<p style="color: #9900CC; ">All the Packages mentioned on the website are prepared by the qualified and dedicated team of "Sanghavi Tours & Travels"  and have enjoyed high reputation among our guests.Visit the temples and mosques and enjoy the wildlife and festivals of Gujarat, then we can create a tailor-made Gujarat Tour package for you.</p>
<p style="color: #9900CC; ">Your tour booked with us is private and independent.Our drivers know all the routes confidently and can explain the things you will see along the way.During your sightseeing, you will be provided a private guide.Your travel will not only be comfortable but also absolutely self-dominating. </p>
<p style="color: #9900CC; ">If you wish to travel to Gujarat and have the impressions and memory of the tour throughout your life - then welcome to Gujarat and explore it with difference by travelling with us.</p>
<p style="color: #9900CC; ">Being a Government of India approved Tour Operator, our reliability and quality is tested.</p>
</div>