<div class="center jumbotron">
<h1><center>Contact Us</center></h1>
<h2><center>
<%= image_tag "ContactUs.jpg" , height: '100px', width: '300px' %>
</center></h2>
<center>
<h2 style="color: #000000; font-size: x-large;">Tours & Travels Pvt.Ltd</h2><br />

<h3> Green Chowk , Chhaliyapara, </h3><br />
<h3> Limbdi 363421.</h3><br />
<h3> Gujarat(India)</h3><br />
<h3><%= image_tag "phone.png" , height: '15px', width: '15px' %>&nbsp;&nbsp; 02753-260 037/265 637</h3><br />
<h3><%= image_tag "phone.png" , height: '15px', width: '15px' %>&nbsp;&nbsp;TollFree No :- 1800 233 9008</h3><br />

</center>
</div>