<div class="center jumbotron">
<h1>Editing Tour Detail</h1>

<%= render 'form' %>

<%= link_to 'Show', @tour_detail ,class: "btn btn-default"%> |
<%= link_to 'Back', tour_details_path ,class: "btn btn-default" %>

</div>
