<div class="center jumbotron">
<h1>Editing State</h1>

<%= render 'form' %>

<%= link_to 'Show', @state ,class: "btn btn-default"%>
<%= link_to 'Back', states_path ,class: "btn btn-default" %>

</div>
