<div class="center jumbotron">
<p id="notice"><%= notice %></p>

<h2>State</h2>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<%= link_to 'Edit', edit_state_path(@state), class: "btn btn-warning" %>
<%= link_to 'Back', states_path ,class: "btn btn-default" %>
</div>