<footer class="footer">
  <small>
    ©<a href="#"> Tours & travels.com  </a>
    |  <a href="#"> all Rights Reserved</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contactus_path %></li>
    </ul>
  </nav>
</footer>
